.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.countdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.countdown-number {
  font-size: 60px;
  font-weight: bold;
}

.countdown-label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.controls-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* button styling  MAKE GLOBAL*/
.button {
  margin: 10;
  margin-top: 25;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #ef1e20;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 2px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 15px var(--animation-color))
}

